<div id="text-add-product">
  <label for="" class="block mb-2 text-2xl font-bold dark:text-white">{{
    isEditMode ? "Update Product" : "Add Product"
  }}</label>
</div>

<form (ngSubmit)="addProduct()">
  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <label class="blok mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Category</label
      >
      <select
        id="select"
        [(ngModel)]="product.category"
        name="productCategory"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <!-- <option>Select Category</option> -->
        <option>BURGER</option>
        <option>SUBMARINE</option>
        <option>FRIES</option>
        <option>PASTA</option>
        <option>CHICKEN</option>
        <option>BEVERAGE</option>
      </select>
    </div>
    <div>
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Name</label
      >
      <input
        type="text"
        [(ngModel)]="product.name"
        name="productName"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Enter Name"
        required
      />
    </div>
    <div>
      <label
        for=""
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Price</label
      >
      <input
        type="text"
        [(ngModel)]="product.price"
        name="productPrice"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Enter Price"
        required
      />
    </div>
    <div>
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        for="file_input"
        >Upload File</label
      >
      <input
        [(ngModel)]="product.image"
        name="productImage"
        class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        aria-describedby="file_input_help"
        id="file_input"
        type="file"
      />
      <p
        class="mt-1 text-sm text-gray-500 dark:text-gray-300"
        id="file_input_help"
      >
        SVG, PNG, JPG or GIF (MAX. 800x400px).
      </p>
    </div>
  </div>

  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mr-2"
  >
    Add Product
  </button>

  <button
    *ngIf="isEditMode"
    type="button"
    (click)="cancelEdit()"
    class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
  >
    Cancel
  </button>
</form>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-6">
  <table
    class="w-full text-sm text-left rtl:text-right text-blue-100 dark:text-blue-100"
  >
    <thead
      class="text-xs text-white uppercase bg-blue-600 border-b border-blue-400 dark:text-white"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Code</th>
        <th scope="col" class="px-6 py-3">Category</th>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Price</th>
        <!-- <th scope="col" class="px-6 py-3">Image</th> -->
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let product of productList"
        class="bg-blue-600 border-b border-blue-400 hover:bg-blue-500"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100"
        >
          {{ product.code }}
        </th>
        <td class="px-6 py-4">{{ product.category }}</td>
        <td class="px-6 py-4">{{ product.name }}</td>
        <td class="px-6 py-4">{{ product.price }}</td>
        <!-- <td class="px-6 py-4">{{ product.image }}</td> -->
        <td class="px-6 py-4">
          <button
            (click)="editProduct(product)"
            class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded w-19 mr-2"
          >
            Edit
          </button>
          <button
            (click)="deleteProduct(product.code)"
            [disabled]="!product.code"
            class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded w-19"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
