<div class="relative z-10 flex h-screen">
  <div class="flex-1 overflow-auto p-4">
    <h2 class="text-xl font-bold mb-4">Our Products</h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
    >
      <div *ngFor="let product of productList">
        <app-product-card
          [product]="product"
          (click)="addToCart(product)"
        ></app-product-card>
      </div>
    </div>
  </div>

  <div
    class="w-80 bg-white shadow-xl border-l border-gray-300 p-4 flex flex-col"
  >
    <div class="flex justify-between items-center">
      <h2 class="text-lg font-bold">Cart</h2>
      <button type="button" class="text-gray-500 hover:text-black">
        <svg
          class="w-6 h-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>

    <div
      class="flex items-center justify-between border-b py-2"
      *ngFor="let item of cart; let i = index"
    >
      <img
        class="w-10 h-10 object-cover rounded-md"
        [src]="item.image"
        [alt]="item.name"
      />
      <div class="flex-1 ml-3">
        <span>{{ item.name }}</span>
      </div>
      <span class="font-bold">Rs.{{ item.price }}</span>

      <button
        class="ml-3 text-red-500 hover:text-red-700 text-sm"
        (click)="removeFromCart(i)"
      >
        ✖
      </button>
    </div>

    <div class="mt-auto">
      <div class="flex justify-between items-center border-t py-2 mt-4">
        <span class="font-bold">Total</span>
        <span class="font-bold">{{ getTotalAmount() }}</span>
      </div>

      <button (click)="placeOrder()"
        class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700"
      >
        Checkout
      </button>
    </div>
  </div>
</div>
