<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-6">
    <table
      class="w-full text-sm text-left rtl:text-right text-blue-100 dark:text-blue-100"
    >
      <thead
        class="text-xs text-white uppercase bg-blue-600 border-b border-blue-400 dark:text-white"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Id</th>
          <th scope="col" class="px-6 py-3">Customer Name</th>
          <th scope="col" class="px-6 py-3">Total Amount</th>
          <th scope="col" class="px-6 py-3">Received Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr
        *ngFor="let orders of orderHistory"
          class="bg-blue-600 border-b border-blue-400 hover:bg-blue-500"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100"
          >
            {{ orders.id }}
          </th>
          <td class="px-6 py-4">{{orders.customerName}}</td>
          <td class="px-6 py-4">{{orders.totalAmount}}</td>
          <td class="px-6 py-4">{{orders.receivedAmount}}</td>
        </tr>
      </tbody>
    </table>