<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-6">
    <table
      class="w-full text-sm text-left rtl:text-right text-blue-100 dark:text-blue-100"
    >
      <thead
        class="text-xs text-white uppercase bg-blue-600 border-b border-blue-400 dark:text-white"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Id</th>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Phone Number</th>
          <th scope="col" class="px-6 py-3">Email</th>
          <th scope="col" class="px-6 py-3">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
         
          class="bg-blue-600 border-b border-blue-400 hover:bg-blue-500"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100"
          >
            <!-- {{ order.id }} -->
          </th>
          <td class="px-6 py-4"></td>
          <td class="px-6 py-4"></td>
          <td class="px-6 py-4"></td>
        </tr>
      </tbody>
    </table>